@font-face {
  font-family: anthonyFont;
  src: url(/assets/fonts/ElanorFreePersonalUseExBdIt.otf);
}

*{
  box-sizing: border-box;
  /* outline: 1px solid green !important; */
}

html,
body, container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: anthonyFont;
  background-color: antiquewhite;
}

:root {
  --scrollPos: 50px; 
  --scrollPosOdd: 70px;
  --scrollPosEven: 100px;
}

.home{
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.home-artist{
  display: flex;
  align-items: center;
  justify-content: center;
}

#artist-header{
  position: absolute;
  font-size: 9em;
  z-index: 5;
}

img{
  position: absolute;
  width: 25em;
}

.about-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -5;
  overflow: hidden;
}

#about{
  position: absolute;
  font-size: 10em;
  z-index: 5;
}

.contact{
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

#contact-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9em;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.grid{
  display: flex;
  width: 100%;
  overflow: hidden;
}

#cream-flip{
  display:block;
  width:100vw;
  height:100vh;
  background-image:url('/assets/media/Bliss\ Cream-min.png');
  background-size: contain;
  transform: scale(4) rotate(180deg);
  background-repeat: repeat-y;
  /* transform: rotate(90deg); */
  background-position: -80px var(--scrollPos);
  overflow: hidden;
  z-index: -10;
}

#red{
  display:block;
  width:100vw;
  height:100vh;
  background-image:url('/assets/media/Bliss\ Red-min.png');
  background-size: contain;
  background-repeat: repeat-y;
  transform: scale(3);
  background-position: 60px var(--scrollPosEven);
  /* background-repeat: no-repeat; */
  /* animation: bgScroll 20s linear infinite; */
}

#green{
  display:block;
  width:100vw;
  height:100vh;
  background-image:url('/assets/media/Bliss\ Green-min.png');
  background-size: contain;
  transform: scale(3);
  background-position: 20px var(--scrollPosOdd);
  /* background-repeat: no-repeat; */
  /* animation: bgScroll 20s linear infinite; */
}

#blue{
  display:block;
  width:100vw;
  height:100vh;
  background-image:url('/assets/media/Bliss\ Canvas\ Blue-min.png');
  background-size: contain;
  transform: scale(3);
  background-position: -20px var(--scrollPosOdd);
  /* background-repeat: no-repeat; */
  /* animation: bgScroll 20s linear infinite; */
}

#cream{
  display:block;
  width:100vw;
  height:100vh;
  background-image:url('/assets/media/Bliss\ Cream-min.png');
  background-size: contain;
  background-repeat: repeat-y;
  transform: scale(4);
  background-position: -80px var(--scrollPosEven);
  overflow: hidden;
  z-index: -10;
}

@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px -808px
  }
}
