*{
  box-sizing: border-box;
  outline: 1px solid green !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px -800px
  }
}

.home{
  display: flex;
  justify-content: center;
}

.scrollingCream {
  /* display:block; */
  width: 100vh;
  height: 100vh;
  background-image:url(/assets/media/creamcanvas.png);
  background-repeat: repeat-y;
  background-size: 100vh;
  animation: bgScroll 20s linear infinite;
}
.scrollingBlue {
  display:block;
  position: absolute;
  width: 100vh;
  height: 100vh;
  background-image:url(/assets/media/bluecanvas.png);
  background-repeat: repeat-y;
  background-size: 100vh;
  animation: bgScroll 20s linear infinite;
}

.scrollingBlue {
  display:block;
  position: absolute;
  width: 100vh;
  height: 100vh;
  background-image:url(/assets/media/bluecanvas.png);
  background-repeat: repeat-y;
  background-size: 100vh;
  animation: bgScroll 20s linear infinite;
}

.scrollingGreen{
  display:block;
  position: absolute;
  width: 100vh;
  height: 100vh;
  background-image:url(/assets/media/greencanvas.png);
  background-repeat: repeat-y;
  background-size: 100vh;
  animation: bgScroll 20s linear infinite;
}

.scrollingRed{
  display:block;
  position: absolute;
  width: 100vh;
  height: 100vh;
  margin-right: 200px;
  background-image:url(/assets/media/redcanvas.png);
  background-repeat: repeat-y;
  background-size: 100vh;
  background-position: 25% 75%;
  overflow: hidden;
  animation: bgScroll 20s linear infinite;
}