*{
  box-sizing: border-box;
  outline: 1px solid green !important;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

section{
  width: 100%;
}

section:nth-child(even){
  background-color: greenyellow;
}

section:nth-child(odd){
  background-color: pink;
}
  

/* .scrollingGreen{
  display:block;
  position: absolute;
  width: 100vh;
  height: 100vh;
  background-image:url(/assets/media/greencanvas.png);
  background-repeat: repeat-y;
  background-size: 100vh;
  animation: bgScroll 20s linear infinite;
} */
